.Rige{
    padding: 80px;

    @media (width <= 900px) {
        padding: 40px;
    }

    h2{
        text-align: center;
        font-family: 'Telegraf_bold';
        font-size: 3rem;
        margin-bottom: 7rem;

        @media (width <= 1300px) {
            margin-bottom: 5rem;
        }

        @media (width <= 900px) {
            font-size: 2.5rem;
        }
    }

    .Info{
        display: flex;
        justify-content: center;
        gap: 5rem;

        @media (width <= 900px) {
            flex-direction: column;
        }

        .Container{
            width: 27%;

            @media (width <= 1300px) {
                width: 35%;
            }

            @media (width <= 900px) {
                width: 100%;
            }

            div{
                display: flex;
                align-items: center;
                margin-bottom: 2rem;
                gap: 10px;
                color: #65E7DE;

                @media (width <= 1300px) {
                    margin-bottom: 1.5rem;
                }

                svg{
                    font-size: 5rem;

                    @media (width <= 900px) {
                        font-size: 4rem;
                    }
                }

                h3{
                    text-transform: uppercase;
                    letter-spacing: 3px;
                    font-size: 2rem;

                    @media (width <= 900px) {
                        font-size: 1.7rem;
                    }
                }
            }

            p{
                font-size: 1.1rem;
                letter-spacing: 1px;
                line-height: 1.5rem;

                @media (width <= 900px) {
                    font-size: 1rem;
                }
            }
        }
    }
}