.Menu{
    position: fixed;
    top: 80px;
    right: 80px;
    z-index: 100;

    @media (width <= 1300px) {
        top: 40px;
        right: 40px;
    }

    @media (width <= 900px) {
        top: 20px;
        right: 20px;
    }

    button{
        background: transparent;
        color: #EBEBEE;
        transition: all 0.3s ease-out;
    }
    svg{
        font-size: 2.5rem;
    }

    .Open{
        color: #12172B;
    }
}

.MenuBody{
    width: 20%;
    height: 100vh;
    background: #DFDFE1;
    position: fixed;
    right: 0px;
    top: 0px;
    padding: 40px;
    color: #12172B;
    z-index: 99;

    @media (width <= 1300px) {
        width: 25%;
    }

    @media (width <= 900px) {
        width: 75%;
        padding: 20px;
    }
    
    span{
        font-size: 2rem;
        font-weight: bold;
    }

    nav{
        margin-top: 5rem;
        display: flex;
        flex-direction: column;
        gap: 15px;
        font-size: 1.5rem;

        @media (width <= 1300px) {
            font-size: 1.3rem;
        }

        @media (width <= 900px) {
            font-size: 1.1rem;
        }

        a{
            cursor: pointer;
        }
    }
}